{% extends 'CantigaCoreBundle:layout:common-layout.html.twig' %}

{% block box_header %}
	<h4>{{ 'Edit settings: 0' | trans([item.name], 'edk') }}</h4>
{% endblock %}

{% block box_body %}

	{{ form_start(form) }}
	<fieldset>
		<legend>{{ 'Basic information' | trans([], 'edk') }}</legend>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-md-12">
				{{ form_row(form.registrationType) }}
			</div>
			<div class="col-lg-4 col-md-6 col-xs-12">
				{{ form_row(form.startTime) }}
			</div>
			<div class="col-lg-4 col-md-6 col-xs-12">
				{{ form_row(form.endTime) }}
			</div>
			<div class="col-lg-6 col-md-12">
				{{ form_row(form.externalParticipantNum) }}
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>{{ 'Registration via EDK.org.pl website' | trans([], 'edk') }}</legend>
		<p>{{ 'RegistrationViaEdkWebsiteText' | trans([], 'edk') }}</p>
		<div class="row">
			<div class="col-md-6 col-xs-12">
				{{ form_row(form.participantLimit) }}
			</div>
			<div class="col-md-6 col-xs-12">
				{{ form_row(form.allowLimitExceed) }}
			</div>
			<div class="col-md-6 col-xs-12">
				{{ form_row(form.maxPeoplePerRecord) }}
			</div>
			<div class="col-md-6 col-xs-12">
				{{ form_row(form.customQuestion) }}
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>{{ 'Registration via external website' | trans([], 'edk') }}</legend>
		<p>{{ 'RegistrationViaExternalWebsiteText' | trans([], 'edk') }}</p>
		<div class="row">
			<div class="col-md-6 col-xs-12">
				{{ form_row(form.externalRegistrationUrl) }}
			</div>
		</div>
	</fieldset>
	<p>{{ 'OtherRegistrationTypesText' | trans([], 'edk') }}</p>
	{{ form_end(form) }}
{% endblock %}

{% block javascripts_inline %}
{{ use_icheck() }}
{% endblock %}