{% extends 'CantigaCoreBundle:layout:list-layout.html.twig' %}

{% block content_before %}
	{% if text %}
		<p>{{text.content | raw }}</p>
	{% endif %}
{% endblock %}

{% block column_list %}
<tr>
	<th width="30">#</th>
	{% if not isArea %}
	<th width="140">{{ 'Area' | trans([], 'edk') }}</th>
	{% endif %}
	<th>{{ 'Name' | trans([], 'edk') }}</th>
	<th width="140">{{ 'Registration type' | trans([], 'edk')  }}</th>
	<th width="140">{{ 'Beginning' | trans([], 'edk') }}</th>
	<th width="140">{{ 'Ending' | trans([], 'edk')  }}</th>
	<th width="80">{{ 'Limit' | trans([], 'edk')  }}</th>
	<th width="80">{{ 'Participants' | trans([], 'edk')  }}</th>
	<th width="120">{{ 'Actions' | trans({}, 'general') }}</th>
</tr>
{% endblock %}

{% block custom_datatable_config %}
	ajax: "{{ spath(ajaxListPage) }}",
	columnDefs: [
		{{ dt_col_rewrite(dataTable, 'registrationType', 'registrationTypeText') }}
		{{ dt_actions(dataTable, [
			{ 'link': 'info_link', 'name': 'Info' | trans({}, 'general'), 'label': 'btn-primary' },
			{ 'link': 'edit_link', 'name': 'Edit' | trans({}, 'general'), 'label': 'btn-warning' },
		]) }}
	]
{% endblock %}