{% extends 'CantigaCoreBundle:layout:common-layout.html.twig' %}

{% block page_title %}
	{{ 'Registration settings for: 0' | trans([item.name], 'edk') }}
{% endblock %}

{% block page_subtitle %}
	{{ pageSubtitle | trans({}, 'pages') }}
{% endblock %}

{% block page_content %}	
<div class="row">
	<div class="col-lg-8 col-md-12 col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3>{{ 'Registration settings for: 0' | trans([item.name], 'edk') }}</h3>
			</div>
			
			<div class="box-body">
				<table class="table table-hover">
					<tbody>
						<tr>
							<td width="30%">{{ 'Name' | trans }}</td>
							<td><a href="{{ spath(routeInfoLink, {'id': item.id})}}">{{ item.name }}</a></td>
						</tr>
						{% if not isArea %}
						<tr>
							<td width="30%">{{ 'Area' | trans }}</td>
							<td><a href="{{ spath(areaInfoLink, {'id': item.route.area.id})}}">{{ item.route.area.name }}</a></td>
						</tr>
						{% endif %}
						<tr>
							<td width="30%">{{ 'Registration type' | trans([], 'edk') }}</td>
							<td>{{ item.getRegistrationTypeText() | trans([], 'edk') }}</td>
						</tr>
						{% if item.registrationType != 0 %}
						<tr>
							<td width="30%">{{ 'Beginning of registration' | trans([], 'edk') }}</td>
							<td>{{ format_time(TimeFormatter.FORMAT_LONG, item.startTime) }}</td>
						</tr>
						<tr>
							<td width="30%">{{ 'End of registration' | trans([], 'edk') }}</td>
							<td>{{ format_time(TimeFormatter.FORMAT_LONG, item.endTime) }}</td>
						</tr>
						{% endif %}
						{% if item.registrationType == 1 %}
						</tr>
						<tr>
							<td width="30%">{{ 'Expected number of participants' | trans([], 'edk') }}</td>
							<td>{{ item.participantLimit }}</td>
						</tr>
						<tr>
							<td width="30%">{{ 'Allow exceeding the participant limit' | trans([], 'edk') }}</td>
							<td>{{ boolean_mark(item.allowLimitExceed) }}</td>
						</tr>
						<tr>
							<td width="30%">{{ 'Max. number of people in the record' | trans([], 'edk') }}</td>
							<td>{{ item.maxPeoplePerRecord }}</td>
						</tr>
						<tr>
							<td width="30%">{{ 'Custom question' | trans([], 'edk') }}</td>
							<td>{{ item.customQuestion }}</td>
						</tr>
						{% endif %}
						{% if item.registrationType == 2 %}
						<tr>
							<td width="30%">{{ 'External registration URL' | trans([], 'edk') }}</td>
							<td><a href="{{ item.externalRegistrationUrl }}">{{ item.externalRegistrationUrl }}</a></td>
						</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
			<div class="box-footer">
				<p>
					<a href="{{ spath(indexPage) }}" class="btn btn-default btn-sm" role="button">{{ 'Back' | trans({}, 'general') }}</a>
					<a href="{{ spath(editPage, {'id': item.id }) }}" class="btn btn-warning btn-sm" role="button">{{ 'Edit' | trans({}, 'general') }}</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-12 col-xs-12">
		<div class="box">
			<div class="box-body">
			{% if item.registrationType == 0 %}
				<p class="lead">{{ 'NoRegistrationText' | trans([], 'edk') }}</p>
			{% else %}
				{% if item.isRegistrationOpen() %}
					<p class="lead">{{ 'RegistrationAlreadyOpenText' | trans([], 'edk') }}</p>
				{% else %}
					<p class="lead">{{ 'RegistrationNotActiveText' | trans([], 'edk') }}</p>
				{% endif %}
				{% if item.registrationType == 1 or item.registrationType == 4 %}
					<p>{{ 'Current number of participants' | trans([], 'edk') }}: <strong>{{ item.participantNum }}</strong></p>
				{% endif %}
				<p>{{ 'Participants registered externally' | trans([], 'edk') }}: <strong>{{ item.externalParticipantNum }}</strong></p>
			{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block box_body %}

{% endblock %}

{% block box_footer %}

{% endblock %}