{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
	{{ pageTitle | trans({}, 'pages') }}
{% endblock %}

{% block page_subtitle %}
	{{ pageSubtitle | trans({}, 'pages') }}
{% endblock %}

{% block page_content %}
<div class="row" id="ppp">
	<div class="col-md-7 col-sm-6 col-xs-12">
		<h4>{{ 'Message: 0' | trans([item.subject], 'edk') }}</h4>
		<div class="box">
			<div class="box-body box-status">
				<div class="status-line">
					<div class="status-item status-{{ item.getStatusLabel() }}">{{ item.getStatusText() | trans({}, 'edk') }}</div>
					<div class="status-actions">
						<div class="btn-group">
							{% for transition in custom.transitions %}
							<a class="btn btn-{{transition.label}} btn-sm" href="{{ spath('area_edk_message_transit', {'id': item.id, 'status': transition.status }) }}">{{ transition.name | trans([], 'edk') }}</a>
							{% endfor %}
						</div>
						{% if item.duplicate %}
						<a class="btn btn-default btn-sm" href="{{ spath('area_edk_message_duplicate', {'id': item.id }) }}">{{ 'Unmark as duplicate' | trans([], 'edk') }}</a>
						{% else %}
						<a class="btn btn-default btn-sm" href="{{ spath('area_edk_message_duplicate', {'id': item.id }) }}">{{ 'Mark as duplicate' | trans([], 'edk') }}</a>
						{% endif %}
						<a href="{{ spath(indexPage) }}" class="btn btn-default btn-sm">{{ 'Back' | trans([], 'general') }}</a>
					</div>
				</div>
				<div class="status-info">
					<div class="info-item">
						<h4><i class="fa fa-male"></i> {{ 'Author' | trans({}, 'edk') }}</h4>
						<span class="value">{{ item.authorName }}</span>
					</div>
					{% if item.authorEmail %}
					<div class="info-item">
						<h4><i class="fa fa-envelope"></i> {{ 'E-mail' | trans({}, 'edk') }}</h4>
						<span class="value"><a href="mailto:{{ item.authorEmail }}">{{ item.authorEmail }}</a></span>
					</div>
					{% endif %}
					{% if item.authorPhone %}
					<div class="info-item">
						<h4><i class="fa fa-phone"></i> {{ 'Phone number' | trans({}, 'edk') }}</h4>
						<span class="value">{{ item.authorPhone }}</span>
					</div>
					{% endif %}
					{% if item.responder %}
					<div class="info-item">
						<h4><i class="fa fa-bell"></i> {{ 'Assignee' | trans({}, 'edk') }}</h4>
						<span class="value"><a href="{{ spath('memberlist_profile', {'id': item.responder.id }) }}">{{ item.responder.name }}</a></span>
					</div>
					{% else %}
					<div class="info-item">
						<h4><i class="fa fa-bell"></i> {{ 'Assignee' | trans({}, 'edk') }}</h4>
						<span class="value">--</span>
					</div>
					{% endif %}
					<div class="info-item">
						<h4><i class="fa fa-clock-o"></i> {{ 'Created at' | trans({}, 'edk') }}</h4>
						<span class="value">{{ format_time(TimeFormatter.FORMAT_LONG, item.createdAt) }} ({{ ago(item.createdAt) }})</span>
					</div>
					{% if item.answeredAt %}
					<div class="info-item">
						<h4><i class="fa fa-comment"></i> {{ 'Answering started at' | trans([], 'edk') }}</h4>
						<span class="value">{{ format_time(TimeFormatter.FORMAT_LONG, item.answeredAt) }} ({{ ago(item.answeredAt) }})</span>
					</div>
					{% endif %}
					{% if item.completedAt %}
					<div class="info-item">
						<h4><i class="fa fa-beer"></i> {{ 'Completed at' | trans([], 'edk') }}</h4>
						<span class="value">{{ format_time(TimeFormatter.FORMAT_LONG, item.completedAt) }} ({{ ago(item.completedAt) }})</span>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="box">
			<div class="box-body">
				{{ item.contentFormatted | raw }}
			</div>
		</div>
	</div>
	<div class="col-md-5 col-sm-6 col-xs-12">
		<div class="box">
			<div class="box-body">
				<h3>{{ 'What to do now?' | trans([], 'edk') }}</h3>
				<p>{{ item.getCurrentStatusDescription(custom.currentUser) | trans([], 'edk') }}</p>
				
				<p>{{ 'Available actions:' | trans([], 'edk') }}</p>
				<ul>
					{% for transition in custom.transitions %}
					<li><strong>{{ transition.name | trans([], 'edk') }}</strong>: {{ transition.help | trans([], 'edk') }}</li>
					{% endfor %}					
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}
