<div class="box">
	<div class="box-header">
		<h4>{{ 'Routes' | trans([], 'edk') }}</h4>
	</div>
	<div class="box-body">
		<table class="table table-hover">
			<tbody>
				{% for route in routes %}
				<tr>
					<td>{{ route.id }}</td>
					<td><a href="{{ spath(routeLink, {'id': route.id } ) }}">{{ route.name }}</a></td>
					<td>{{ empty_boolean_mark(route.approved) }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
