{% import "CantigaCoreBundle:layout:macros.html.twig" as macro %}
<li class="dropdown user user-menu">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<img src="{{ asset(avatar(user, 32)) }}" class="user-image">
		<span class="hidden-xs">{{ user.name }}</span>
	</a>
	<ul class="dropdown-menu">
		<li class="user-header">
			<img src="{{ asset(avatar(user)) }}" class="img img-circle" alt="{{user.name}}">
			<p>
				{{user.name}}
				{% if membership %}
					<small>{{ membership.note }}</small>
				{% endif %}
			</p>
		</li>
		<li class="user-body">
			<div class="col-xs-6 text-center">
				<a href="{{ path('user_profile_contact_data') }}">{{ 'Contact data' |trans([], 'pages')}}</a>
			</div>
			<div class="col-xs-6 text-center">
				<a href="{{ path('user_invitation_index') }}">{{ 'Invitations' |trans([], 'pages')}}</a>
			</div>
		</li>
		<li class="user-footer">
			<div class="pull-left">
				<a href="{{ path('cantiga_home_page') }}" class="btn btn-default btn-flat">{{'Profile' | trans({}, 'pages')}}</a>
			</div>
			<div class="pull-right">
				<a href="{{ path('cantiga_auth_logout') }}" class="btn btn-default btn-flat">{{ 'Sign out' | trans({}, 'pages') }}</a>
			</div>
		</li>
	</ul>
</li>
