<div class="workspace-panel">
     <p class="info">{{ workspaceName }}</p>
</div>
<ul class="sidebar-menu">
	<li class="header">{{ 'NAVIGATION' | trans([], 'pages') }}</li>
	<li><a href="{{ spath(workspaceInfo.homePage) }}">
			<i class="fa fa-dashboard"></i> <span>{{ 'Dashboard' | trans({}, 'pages') }}</span>
		</a></li>
	{% for workitem in workspace.rootItems %}
	{% if workitem.route == currentPage %}
	<li class="active">
	{% else %}
	<li>
	{% endif %}
		<a href="{{ spath(workitem.route) }}">{% if workitem.hasIcon() %}<i class="fa fa-{{ workitem.icon }}"></i>{% endif %} <span>{{ workitem.name | trans({}, 'pages') }}</span></a>
	</li>
	{% endfor %}
	{% for workgroup in workspace.workgroups %}
	{% if workgroup.key == currentWorkgroup %}
	<li class="active treeview">
	{% else %}
	<li class="treeview">
	{% endif %}
		<a href="#">
			<i class="fa fa-{{workgroup.icon }}"></i> <span>{{ workgroup.name | trans({}, 'pages') }}</span> <i class="fa fa-angle-left pull-right"></i>
		</a>		
		{% if workspace.workgroupHasContent(workgroup) %}
		<ul class="treeview-menu">
			{% for workitem in workspace.workitemsOf(workgroup) %}
			{% if workitem.route == currentPage %}
			<li class="active"><a href="{{ spath(workitem.route) }} "><i class="fa fa-circle-o"></i> {{ workitem.name | trans({}, 'pages') }}</a></li>	
			{% else %}
			<li><a href="{{ spath(workitem.route) }} "><i class="fa fa-circle-o"></i> {{ workitem.name | trans({}, 'pages') }}</a></li>
			{% endif %}
			{% endfor %}
		</ul>
		{% endif %}
	</li>
	{% endfor %}
</ul>