{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
	{{ place.name }}
{% endblock %}

{% block page_subtitle %}
	{{ ('ManageMembers'~placeType~'Text') | trans([], 'pages') }}
{% endblock %}

{% block page_content %}
	<div class="row" id="ppp">
		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<a href="{{ spath(invitationPage, extraArgs) }}" role="btn" class="btn btn-app"><i class="fa fa-tag"></i> {{ 'Invite' | trans([], 'general') }}</a>
					<a href="#" role="btn" class="btn btn-app"><i class="fa fa-download"></i> {{ 'Export CSV' | trans([], 'general') }}</a>
				</div>
				<div class="box-body no-padding">
					<table class="table table-striped" id="membershipTable">
						<thead>
							<tr>
								<th width="30">#</th>
								<th>{{ 'Name' | trans }}</th>
								<th width="200">{{ 'Role' | trans([], 'users') }}</th>
								<th width="200">{{ 'Note' | trans([], 'users') }}</th>
								{% if showContactsManageable %}
								<th width="120">{{ 'Contact data' | trans([], 'users') }}</th>
								{% endif %}
								<th width="180">{{ 'Actions' | trans({}, 'general') }}</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="edit-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">{{ 'Select a new role' | trans([], 'users') }}: <span role="title"></span></h4>
				</div>
				<div class="modal-body">
					<form role="form" class="form">
						<div class="form-group">
							<label class="control-label required" for="role-selector-ed">{{ 'Select a new role' | trans([], 'users') }}</label>
							<select name="role" id="role-selector-ed" role="role-selector" class="form-control">
							{% for role in roles %}
								<option value="{{ role.id }}">{{ role.name | trans }}</option>
							{% endfor %}
							</select>
						</div>
						<div class="form-group">
							<label class="control-label required" for="note-selector-ed">{{ 'Enter some note' | trans([], 'users') }}</label>
							<input type="text" name="note" id="note-selector-ed" role="note-selector" class="form-control" />
							<p class="help-block">{{ 'NoteHintText' | trans([], 'users') }}</p>
						</div>
						{% if showContactsManageable %}
						<div class="form-group">
							<label class="control-label" for="showContacts-selector-ed">{{ 'Show contacts to members of other places?' | trans([], 'users') }}</label>
							<div class="radio icheck">
								<label><input type="radio" name="showContacts" id="showContacts-0-selector" value="0" class="minimal"> <span class="text-danger" style="margin: 5px 8px 0 5px">{{ 'No' | trans({}, 'general') }}</span> </label>
								<label><input type="radio" name="showContacts" id="showContacts-1-selector" value="1" class="minimal"> <span class="text-success" style="margin: 5px 0 0 5px">{{ 'Yes' | trans({}, 'general') }}</span></label>
							</div>
							<p class="help-block">{{ ('AccessOthersContactsFrom'~placeType~'HintText') | trans([], 'users') }}</p>
						</div>
						{% endif %}
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" id="edit-modal-cancel">{{ 'Cancel' | trans({}, 'general') }}</button>
					<button type="button" class="btn btn-primary" id="edit-modal-confirm">{{ 'Save' | trans({}, 'general') }}</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="remove-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">{{ 'Confirm removal' | trans([], 'users') }}: <span role="title"></span></h4>
				</div>
				<div class="modal-body">
					<p>{{ 'RevokeMembershipQuestionText' | trans([], 'users') }}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" id="remove-modal-cancel">{{ 'Not really' | trans({}, 'general') }}</button>
					<button type="button" class="btn btn-primary" id="remove-modal-confirm">{{ 'Indeed' | trans({}, 'general') }}</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
	<script src="{{ asset('js/membership.js') }}"></script>
	{{ use_icheck() }}
{% endblock %}

{% block javascripts_inline %}
	<script type="text/javascript">
	$(document).ready(function() {
		$('#ppp').membership({
			dataTable: '#membershipTable',
			selectedProject: {{ place.id }},
			removeModal: '#remove-modal',
			removeModalConfirm: '#remove-modal-confirm',
			editModal: '#edit-modal',
			editModalConfirm: '#edit-modal-confirm',
			showDownstreamContactData: {{ showContactsManageable }},
			memberHintUrl: '{{ spath(hintsPage, extraArgs) }}',
			memberReloadUrl: '{{ spath(reloadPage, extraArgs) }}',
			memberEditUrl: '{{ spath(editPage, extraArgs) }}',
			memberRemoveUrl: '{{ spath(removePage, extraArgs) }}',
			lang: {
				remove: '{{ 'Remove' | trans({}, 'general') }}',
				role: '{{ 'Change role' | trans }}',
				Visitor: '{{ 'Visitor' | trans }}',
				Member: '{{ 'Member' | trans }}',
				Manager: '{{ 'Manager' | trans }}',
			}
		});
	});
	</script>
{% endblock %}
