{% extends 'CantigaCoreBundle:layout:login-layout.html.twig' %}

{% block page_content %}
	{% include 'CantigaCoreBundle:layout:flash.html.twig' %}
    <div class="register-box">
		<div class="register-logo">
				<img src="{{ asset(Branding.LOGO_FILE) }}" width="42" />
				<a href="{{ path('cantiga_auth_login') }}">{{ Branding.APP_NAME }}</a>
		</div><!-- /.login-logo -->
		<div class="register-box-body">
			<p>{{ 'AccountActivatedText' | trans }}</p>
			<p class="login-box-msg"><a href="{{ path('cantiga_auth_login') }}" class="text-center">{{ 'Back to login' | trans }}</a></p>
		</div>
	</div>
{% endblock %}