{% extends 'CantigaCoreBundle:layout:login-layout.html.twig' %}

{% block page_content %}
	{% include 'CantigaCoreBundle:layout:flash.html.twig' %}
    <div class="register-box">
		<div class="register-logo">
				<img src="{{ asset(Branding.LOGO_FILE) }}" width="42" />
				<a href="{{ path('cantiga_auth_login') }}">{{ Branding.APP_NAME }}</a>
		</div><!-- /.login-logo -->
		<div class="register-box-body">
			{{ form_start(form) }}
			<p class="login-box-msg">{{ 'PasswordRecoveryIntroductionText' | trans }}</p>
			
			{{ form_errors(form) }}
			
			<div class="form-group has-feedback">
				{{ form_widget(form.login) }}
				<span class="glyphicon glyphicon-tag form-control-feedback"></span>
				{{ form_errors(form.login) }}
			</div>
			<div class="form-group has-feedback">
				{{ form_widget(form.email) }}
				<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
				{{ form_errors(form.email) }}
			</div>

			<div class="row">
				<!-- /.col -->
				<div class="col-xs-4 col-xs-offset-7">
					<button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'Send' | trans([], 'general') }}</button>
				</div>
			</div>
			<p class="login-box-msg"><a href="{{ path('cantiga_auth_login') }}" class="text-center">{{ 'Back to login' | trans }}</a></p>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}