{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}
{% import "CantigaCoreBundle:layout:macros.html.twig" as macro %}

{% block page_title %}
	{{ 'Course: 0' | trans([item.name]) }}
{% endblock %}

{% block page_subtitle %}
	{{ pageSubtitle | trans({}, 'pages') }}
{% endblock %}

{% block page_content %}	
<div class="row">
	<div class="col-lg-8 col-md-12 col-xs-12">
		<div class="box">
			<div class="box-body">
				<p>{{ item.description }}</p>
				<div class="embed-responsive embed-responsive-16by9">
					{{ item.generatePresentationCode() | raw }}
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-12 col-xs-12">
		<div class="box">
			<div class="box-body">
				{% if item.hasTest() %}
					{% if result.isSolved() %}
						<h4>{{ 'Your result' | trans([], 'course') }}</h4>
						<table class="table">
							<tbody>
								<tr>
									<td width="30%">{{ 'Course status' | trans([], 'course') }}</td>
									{% if result.getResult() == 1 %}
										<td class="success">{{ 'Passed' | trans([], 'course') }}</td>
									{% else %}
										<td class="danger">{{ 'Failed' | trans([], 'course') }}</td>	
									{% endif %}
								</tr>
								<tr>
									<td>{{ 'Area score' | trans([], 'course') }}</td>
									<td>{{ result.getPercentageResult() }}%</td>
								</tr>
								<tr>
									<td>{{ 'Completion date' | trans([], 'course') }}</td>
									<td>{{ format_time(TimeFormatter.FORMAT_SHORT, result.completedAt) }}</td>
								</tr>
							</tbody>
						</table>
					{% else %}
						<h4>{{ 'Test' | trans([], 'course') }}</h4>
						<p>{{ 'CourseTestNeededText' | trans }}</p>
						{% if item.deadline %}
							<p class="lead">{{'Deadline for completing the test' | trans }}: {{ format_time(TimeFormatter.FORMAT_DATE_LONG, item.deadline) }}</p>
						{% endif %}
					{% endif %}

					{% if result.canBeStarted() %}	
						<a href="{{ spath('area_course_test', {'id': item.id})}}" class="btn btn-primary" role="button">{{ 'Start the test!' | trans }}</a>
					{% endif %}
				{% else %}
					<h4>{{ 'Completion' | trans([], 'course') }}</h4>
					{% if result.isSolved() %}
						<table class="table">
							<tbody>
								<tr>
									<td width="30%">{{ 'Your score' | trans([], 'course') }}</td>
									{% if result.getResult() == 1 %}
										<td class="success">{{ 'Passed' | trans([], 'course') }}</td>
									{% else %}
										<td class="danger">{{ 'Failed' | trans([], 'course') }}</td>	
									{% endif %}
								</tr>
								<tr>
									<td>{{ 'Completion date' | trans([], 'course') }}</td>
									<td>{{ format_time(TimeFormatter.FORMAT_SHORT, result.completedAt) }}</td>
								</tr>
							</tbody>
						</table>
					{% else %}
						{% if item.deadline %}
							<p>{{ 'CourseTestNotNeededText: 0' | trans([ format_time(TimeFormatter.FORMAT_DATE_LONG, item.deadline)]) }}</p>
						{% else %}
							<p>{{ 'CourseTestNotNeededText' | trans }}</p>
						{% endif %}
						<a href="{{ spath('area_course_complete', {'id': item.id})}}" class="btn btn-primary" role="button">{{ 'Confirm course completion' | trans }}</a>
					{% endif %}
				{% endif %}
			</div>
		</div>
		<div class="box">
			<div class="box-body">
				<h4>{{ 'Area result' | trans([], 'course') }}</h4>
				{% if areaResult.isSolved() %}
					<p>{{ 'AreaResultInfoText' | trans([], 'course') }}</p>
					<table class="table">
						<tbody>
							<tr>
								<td width="30%">{{ 'Course status' | trans([], 'course') }}</td>
								{% if areaResult.getResult() == 1 %}
									<td class="success">{{ 'Passed' | trans([], 'course') }}</td>
								{% else %}
									<td class="danger">{{ 'Failed' | trans([], 'course') }}</td>	
								{% endif %}
							</tr>
							<tr>
								<td>{{ 'Your score' | trans([], 'course') }}</td>
								<td>{{ areaResult.getPercentageResult() }} %</td>
							</tr>
							<tr>
								<td>{{ 'Completion date' | trans([], 'course') }}</td>
								<td>{{ format_time(TimeFormatter.FORMAT_SHORT, areaResult.completedAt) }}</td>
							</tr>
						</tbody>
					</table>
				{% else %}
					<p>{{'NobodyHasStartedTheTestText' | trans([], 'course') }}</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}