{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}
{% import "CantigaCoreBundle:layout:macros.html.twig" as macro %}

{% block page_title %}
	{{ 'Test: 0' | trans([item.name]) }}
{% endblock %}

{% block page_subtitle %}
	{{ pageSubtitle | trans({}, 'pages') }}
{% endblock %}

{% block page_content %}	
	<h4>Test: {{ item.name }}</h4>
	
	<p class="text-danger">Nie zamykaj, ani nie odświeżaj tej strony bez kliknięcia "Gotowe"! Uniemożliwi to ukończenie testu i zablokuje kolejne próby na 24 godziny!</p>
	
	{{ form_start(form) }}
	<div class="row">
		<div class="col-lg-12">
			<p class="lead">Pozostały czas: <span id="test-timer" data-time-min="{{testTime}}">wartość</span></p>
		</div>
		{% for fieldName in fieldNames %}
		<div class="col-md-6 col-sm-12">
			{{ form_row(form.offsetGet(fieldName)) }}
		</div>
		{% endfor %}
	</div>
	{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/jquery-backward-timer.min.js') }}"></script>
	<script src="{{ asset('js/test-timer.js') }}"></script>
{% endblock %}