{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
	{{ 'Request a new area' | trans([], 'pages') }}
{% endblock %}

{% block page_content %}
	<div class="row">
		{% include 'CantigaCoreBundle:UserAreaRequest:insert-steps.html.twig' with { currentStep: 4, disablePrevious: true, projectId: null } %}
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-12 col-lg-offset-3 col-md-offset-0">
			<div class="box box-success">
				<div class="box-header with-border">
					<i class="fa fa-legal"></i> <h3 class="box-title">{{ 'WaitForVerificationText' | trans([], 'requests') }}</h3>
				</div>				
				<div class="box-body">
					<p>{{ 'ThankYouVerificationText' | trans([], 'requests') }}</p>
					<p>
						{{ 'ViewAndEditRequestInfoText' | trans(['<a href="' ~ spath('user_area_request_index') ~'">', '</a>'], 'requests') | raw }}
					</p>
				</div>
				<div class="box-footer">
					<a href="{{ spath('user_area_request_info', {'id' : id }) }}" class="btn btn-primary">{{ 'ViewRequestLinkName' | trans([], 'requests') }}</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}