{% extends 'CantigaCoreBundle:layout:common-layout.html.twig' %}

{% block box_header %}
	<h4>{{ 'Details: 0' | trans([item.subject], 'general') }}</h4>
{% endblock %}

{% block box_body %}
<div class="row">
	<div class="col-md-4 col-xs-12">
		<table class="table table-hover">
			<tbody>
				<tr>
					<td width="30%">{{ 'Subject' | trans }}</td>
					<td>{{ item.subject }}</td>
				</tr>
				<tr>
					<td width="30%">{{ 'Place' | trans }}</td>
					<td>{{ item.place }}</td>
				</tr>
				<tr>
					<td width="30%">{{ 'Locale' | trans }}</td>
					<td>{{ item.locale }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-8 col-xs-12">
		<h4>{{ 'Mail template' | trans }}</h4>
		<pre>{{ item.content }}</pre>
	</div>
</div>

{% endblock %}

{% block box_footer %}
<p>
	<a href="{{ path('admin_app_mail_index') }}" class="btn btn-default btn-sm" role="button">{{ 'Back' | trans({}, 'general') }}</a>
	<a href="{{ path('admin_app_mail_edit', {'id': item.id }) }}" class="btn btn-warning btn-sm" role="button">{{ 'Edit' | trans({}, 'general') }}</a>
	<a href="{{ path('admin_app_mail_remove', {'id': item.id }) }}" class="btn btn-danger btn-sm" role="button">{{ 'Remove' | trans({}, 'general') }}</a>
</p>
{% endblock %}