{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
	{{ 'Discussion channels' | trans([], 'pages') }}
{% endblock %}

{% block page_subtitle %}
	{{ 'Manage the discussion channels' | trans([], 'pages') }}
{% endblock %}

{% block page_content %}
<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<i class="fa fa-comment-o"></i>
				<h3 class="box-title">{{ 'Details: 0' | trans([item.name], 'general') }}</h3>
			</div>
			<div class="box-body no-padding">
				<table class="table table-hover">
					<tbody>
						<tr>
							<td width="30%">{{ 'Name' | trans }}</td>
							<td>{{ item.name }}</td>
						</tr>
						<tr>
							<td width="30%">{{ 'Description' | trans }}</td>
							<td>{{ item.description }}</td>
						</tr>
						<tr>
							<td width="30%">{{ 'Background color' | trans([], 'discussion') }}</td>
							<td><span class="label bg-{{item.color}}">{{ 'Sample' | trans([], 'discussion') }}</span></td>
						</tr>
						<tr>
							<td width="30%">{{ 'Icon' | trans([], 'discussion') }}</td>
							<td><span class="fa {{ item.icon }}"></span></td>
						</tr>
						<tr>
							<td width="30%">{{ 'Discussion grouping' | trans([], 'discussion') }}</td>
							<td>{{ item.discussionGroupingAsText | trans([], 'discussion') }}</td>
						</tr>
						<tr>
							<td width="30%">{{ 'Enabled' | trans([], 'discussion') }}</td>
							<td>{{ boolean_mark(item.enabled) }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="box-footer">
				<a href="{{ spath(indexPage) }}" class="btn btn-default btn-sm" role="button">{{ 'Back' | trans({}, 'general') }}</a>
				<a href="{{ spath(editPage, {'id': item.id }) }}" class="btn btn-warning btn-sm" role="button">{{ 'Edit' | trans({}, 'general') }}</a>
				{% if item.canRemove() %}
					<a href="{{ spath(removePage, {'id': item.id }) }}" class="btn btn-danger btn-sm" role="button">{{ 'Remove' | trans({}, 'general') }}</a>
				{% endif %}
			</div>
		</div>
			
		<div class="box box-primary">
			<div class="box-header with-border">
				<i class="fa fa-lock"></i>
				<h3 class="box-title">{{ 'Permissions' | trans([], 'discussion') }}</h3>
			</div>
			<div class="box-body no-padding">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th width="10%"></th>
							<th width="30%">{{ 'Project' | trans }}</th>
							<th width="30%">{{ 'Group' | trans }}</th>
							<th width="30%">{{ 'Area' | trans }}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ 'View' | trans([], 'discussion') }}</td>
							<td>{{ empty_boolean_mark(item.projectVisible) }}</td>
							<td>{{ empty_boolean_mark(item.groupVisible) }}</td>
							<td>{{ empty_boolean_mark(item.areaVisible) }}</td>
						</tr>
						<tr>
							<td>{{ 'Post' | trans([], 'discussion') }}</td>
							<td>{{ empty_boolean_mark(item.projectPosting) }}</td>
							<td>{{ empty_boolean_mark(item.groupPosting) }}</td>
							<td>{{ empty_boolean_mark(item.areaPosting) }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
