{% extends 'CantigaCoreBundle:layout:common-layout.html.twig' %}

{% block box_header %}
	<h4>{{ 'Edit: 0' | trans([item.name], 'general') }}</h4>
{% endblock %}

{% block box_body %}

	{{ form_start(form) }}
	{{ form_row(form.name) }}
	{{ form_row(form.locale) }}
	{{ form_end(form) }}
{% endblock %}

{% block javascripts_inline %}
{{ use_icheck() }}
{% endblock %}