{% extends 'CantigaCoreBundle:layout:list-layout.html.twig' %}

{% block column_list %}
<tr>
	<th width="30">#</th>
	<th>{{ 'Name' | trans }}</th>
	<th width="120">{{ 'Locale' | trans }}</th>
	<th width="120">{{ 'Area number' | trans }}</th>
	<th width="120">{{ 'Request number' | trans }}</th>
	<th width="120">{{ 'Actions' | trans({}, 'general') }}</th>
</tr>
{% endblock %}

{% block box_footer %}
	<a href="{{ spath('project_territory_insert') }}" class="btn btn-success btn-sm" role="button">{{ 'Insert' | trans({}, 'general') }}</a>
	{% if importer.isImportAvailable() %}
	<a href="{{ spath('project_territory_import') }}" class="btn btn-danger btn-sm" role="button">{{ importer.getImportLabel() }}</a>
	{% endif %}
{% endblock %}

{% block custom_datatable_config %}
	ajax: "{{ spath('project_territory_ajax_list') }}",
	columnDefs: [
		{{ dt_actions(dataTable, [
			{ 'link': 'info_link', 'name': 'Info' | trans({}, 'general'), 'label': 'btn-primary' },
			{ 'link': 'edit_link', 'name': 'Edit' | trans({}, 'general'), 'label': 'btn-warning' },
			{ 'link': 'remove_link', 'name': 'Remove' | trans({}, 'general'), 'label': 'btn-danger', 'when': 'removable' },
		]) }}
	]
{% endblock %}