{% import "CantigaCoreBundle:layout:macros.html.twig" as macro %}
<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}{{ Branding.APP_NAME }}{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/ionicons.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/AdminLTE.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/skins/skin-'~workspace_skin()~'.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/blue.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/cantiga.css') }}" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset(Branding.LOGO_FILE) }}" />
    {%  block javascripts_head %}
    {% endblock %}
</head>
<body class="hold-transition skin-{{ workspace_skin() }} sidebar-mini">
    <div class="wrapper">

    {% block admin_header %}
        <header class="main-header">
            {% block admin_logo %}
            <a href="#" class="logo">
				<img src="{{ asset(Branding.LOGO_FILE) }}" width="32" />
				{{ Branding.APP_NAME }}
			</a>
            {% endblock %}
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                {% if app.user is not null %}
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            {% block admin_navbar %}
                                {{ launch('cantiga.core.block.ui:showProjects') }}
								{{ launch('cantiga.core.block.ui:showTasks') }}
                                {{ launch('cantiga.core.block.ui:showUser') }}
								{{ launch('cantiga.core.block.ui:showHelp') }}
                            {% endblock %}
                        </ul>
                    </div>
                {% endif %}
            </nav>
        </header>
    {% endblock %}
        <aside class="main-sidebar sidebar-offcanvas">
            <section class="sidebar">
                {% block admin_sidebar %}
					{{ launch('cantiga.core.block.ui:showMenu') }}
                {% endblock %}
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    {% block page_title %}Blank page{% endblock %}
                    <small>{% block page_subtitle %}{% endblock %}</small>
                </h1>
                {% block page_breadcrumbs %}
                    {{ launch('cantiga.core.block.ui:showBreadcrumbs') }}
                {% endblock %}
            </section>
            <section class="content">
				{% include 'CantigaCoreBundle:layout:flash.html.twig' %}
                {% block page_content %}{% endblock %}
            </section>
        </div>
    {% block avanzu_admin_footer %}
        <footer class="main-footer">
		   <div class="pull-right hidden-xs text-muted">
			   Powered by <b><a href="http://cantiga.org">Cantiga Project</a></b>, an open-source collaboration platform
		   </div>
            <strong>{{ Branding.COPYRIGHT_NOTE | raw }}</strong>
        </footer>
    {% endblock %}
    </div>
{% block javascripts %}
	<script src="{{ asset('js/base.js') }}"></script>
{% endblock %}
{% block javascripts_inline %}
{% endblock %}
</body>
</html>
