{% extends 'CantigaCoreBundle:layout:common-layout.html.twig' %}

{% block box_header %}
{{ block('data_filter') }}	
{% endblock %}

{% block box_body %}
	<div class="table-responsive">
		<table id="data-grid" class="table table-striped table-bordered">
			<thead>
				{% block column_list %}
				<tr>
					<th width="30">#</th>
					<th data-priority="1">{{ 'Name' | trans }}</th>
					<th>{{ 'Locale' | trans }}</th>
					<th width="200" data-priority="1">{{ 'Actions' | trans({}, 'general') }}</th>
				</tr>
				{% endblock %}
			</thead>
			<tfoot>
				{{ block('column_list') }}
			</tfoot>
		</table>
	</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/dataTables.responsive.css') }}" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/dataTables.min.js') }}"></script>
	<script src="{{ asset('js/dataTables.bootstrap.min.js') }}"></script>
	<script src="{{ asset('js/dataTables.responsive.min.js') }}"></script>
{% endblock %}

{% block javascripts_inline %}
	<script type="text/javascript">
	$(document).ready(function() {
		$('#data-grid').DataTable({
			processing: true,
			serverSide: true,
			responsive: true,
			columns: {{ dt_columns(dataTable, true) }},
			{% if locale != 'en' %}
			language: {url: '{{asset('js/datatables.'~locale~'.js') }}' },	
			{% endif %}
			{% block custom_datatable_config %}
			columnDefs: [
				{{ dt_actions(dataTable, []) }}
			]
			{% endblock %}
		});
	});
	</script>
{% endblock %}