{% macro profile_box(user) %}
			<!-- Profile Image -->
			<div class="box box-primary">
                <div class="box-body box-profile">
					<img class="profile-user-img img-responsive img-circle" src="{{ asset(avatar(user)) }}" alt="User profile picture">
					<h3 class="profile-username text-center">{{ user.name }}</h3>
					<p class="text-muted text-center">{{ user.membership.note }}</p>

					<ul class="list-group list-group-unbordered">
						<li class="list-group-item">
							<b>{{ 'Member since' |trans }}</b> <a class="pull-right">{{ format_time(TimeFormatter.FORMAT_DATE_SHORT, user.registeredAt) }}</a>
						</li>
						<li class="list-group-item">
							<b>{{ 'Last visit' | trans }}</b> <a class="pull-right">{% if user.lastVisit %}{{ format_time(TimeFormatter.FORMAT_DATE_SHORT, user.lastVisit) }}{% else %} - {% endif %}</a>
						</li>
					</ul>
                </div><!-- /.box-body -->
			</div><!-- /.box -->

			<!-- About Me Box -->
			<div class="box box-primary">
                <div class="box-header with-border">
					<h3 class="box-title">{{ 'About me' | trans}}</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
					<strong><i class="fa fa-map-marker margin-r-5"></i> {{ 'Location' | trans }}</strong>
					<p class="text-muted">{% if not user.location %}<i>{{ 'Not specified' | trans({}, 'general')}}</i>{%else%}{{ user.location }}{%endif%}</p>
                </div><!-- /.box-body -->
			</div><!-- /.box -->
{% endmacro %}