{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
	{{ pageTitle | trans({}, 'pages') }}
{% endblock %}

{% block page_subtitle %}
	{{ pageSubtitle | trans({}, 'pages') }}
{% endblock %}

{% block page_content %}
	<div class="row">
	{% for place in places %}
		<div class="col-md-4 col-xs-12">
			<div class="box box-{{place.label}} box-solid">
				<div class="box-header">
					<h3 class="box-title">{{ place.translationKey | trans([place.name]) }}</h3>
				</div>
				<div class="box-body no-padding">
					<table class="table table-condensed">
						<tbody>
							<tr>
								<td width="30%">{{ 'Role' | trans }}</td>
								<td>{{ place.role.name | trans }}</td>
							</tr>
							<tr>
								<td width="30%">{{ 'Note' | trans }}</td>
								<td>{{ place.note }}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="2"><a class="btn btn-primary btn-xs" href="{{ path(place.route, {'slug': place.slug}) }}">{{ 'Enter' | trans({}, 'general') }}</a></td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}
