{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
	{{ 'Discussion forums' | trans([], 'pages') }}
{% endblock %}

{% block page_subtitle %}
	{{ '{} new posts since last visit' | trans([0], 'forum') }}
{% endblock %}

{% block page_content %}
	<div class="row">
<div class="col-md-12">
	<p>
	<a href="#" class="btn btn-danger btn-sm">{{ 'Announcements' | trans([], 'forum') }}</a>
	<a href="#" class="btn btn-primary btn-sm">{{ 'Observed topics' | trans([], 'forum') }}</a>
	<a href="#" class="btn btn-primary btn-sm">{{ 'Recent topics' | trans([], 'forum') }}</a>
	<a href="#" class="btn btn-primary btn-sm">{{ 'Recent posts' | trans([], 'forum') }}</a>
	</p>
</div>
{% for category in categories %}
{% if category.isVisible() %}
<div class="forum-list">
	<div class="forum-nav">
		<ul class="cnav">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
					{{ 'Show' | trans([], 'general') }} <span class="caret"></span>
				</a>
				<ul class="dropdown-menu pull-right">
					<li role="presentation"><a role="menuitem" href="#">{{ 'Observed topics' | trans([], 'forum') }}</a></li>
					<li role="presentation"><a role="menuitem" href="#">{{ 'Recent topics' | trans([], 'forum') }}</a></li>
					<li role="presentation"><a role="menuitem" href="#">{{ 'Recent posts' | trans([], 'forum') }}</a></li>
				</ul>
			</li>
			<li class="header"><i class="fa fa-th"></i> {{ category.name }}</li>
		</ul>
		<table class="table table-hover table-striped table-forum-list">
			<thead>
				<tr>
					<th width="30"></th>
					<th>{{ 'Forum' | trans([], 'forum') }}</th>
					<th width="100" class="forum-numeric">{{ 'Topics' | trans([], 'forum') }}</th>
					<th width="100" class="forum-numeric">{{ 'Posts' | trans([], 'forum') }}</th>
					<th width="250">{{ 'Last post' | trans([], 'forum') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for forum in category.forums %}
					<tr>
						<td><span class="forum-activity fa fa-circle"></span></td>
						<td>
							<a href="{{ spath('project_forum_viewforum') }}" class="forum-title">{{ forum.name }}</a>
							<span class="forum-desc">{{ forum.description }}</span>
						</td>
						<td class="forum-numeric">{{ forum.topicNum }}</td>
						<td class="forum-numeric">{{ forum.postNum }}</td>
						<td>
							<span class="forum-lastpost"><a href="#">Sample topic</a> by <a href="#">peanockio</a> <a href="#" class="fa fa-arrow-right"></a></span>
							<span class="forum-lastpost-when">1 day ago</span>
						</td>
					</tr>
				{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endif %}
{% endfor %}
	<div class="col-md-12">
		<p>{{ totalPosts }} posts in {{ totalTopics }} topics</p>
	</div>
</div>
{% endblock %}