{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
	{{ 'Discussion forums' | trans([], 'forums') }}
{% endblock %}

{% block page_subtitle %}
	{{ '43 new posts since last visit' | trans({}, 'forums') }}
{% endblock %}

{% block page_content %}
	<div class="row">
		<div class="col-md-12">
			<h3>{{ topic.title }}</h3>
		</div>
		{% for post in topic.posts %}
		<div class="col-md-12">
			<div class="box box-widget">
				<div class="box-header with-border">
					<div class="user-block">
						<img class="img-circle" src="{{ asset(avatar(post.author)) }}" alt="User Image">
						<span class="username"><a href="{{ spath('project_memberlist_profile', {'id': post.author.id }) }}">{{ post.author.name }}</a></span>
						<span class="description">{{ ago(post.author.postTime) }}</span>
					</div>
				</div>
				<div class="box-body">
					{{ post.content | raw }}
					
					{#
					for future use
					<!-- Social sharing buttons -->
					<button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
					<button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
					<span class="pull-right text-muted">45 likes - 2 comments</span>
					#}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}
