{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
	{{ 'Discussion forums' | trans([], 'forums') }}
{% endblock %}

{% block page_subtitle %}
	{{ '43 new posts since last visit' | trans({}, 'forums') }}
{% endblock %}

{% block page_content %}
	<div class="row">
		<div class="col-md-12">
			<h3>Topic 122</h3>
		</div>
		<div class="col-md-12">
			<div class="box box-widget">
				<div class="box-header with-border">
					<div class="user-block">
						<img class="img-circle" src="{{ asset(avatar(user)) }}" alt="User Image">
						<span class="username"><a href="#">Jonathan Burke Jr.</a></span>
						<span class="description">Shared publicly - 7:30 PM Today</span>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<!-- post text -->
					<p>Far far away, behind the word mountains, far from the
						countries Vokalia and Consonantia, there live the blind
						texts. Separated they live in Bookmarksgrove right at</p>

					<p>the coast of the Semantics, a large language ocean.
						A small river named Duden flows by their place and supplies
						it with the necessary regelialia. It is a paradisematic
						country, in which roasted parts of sentences fly into
						your mouth.</p>

					<!-- Attachment -->
					<div class="attachment-block clearfix">

						<div class="attachment-pushed">
							<h4 class="attachment-heading"><a href="http://www.lipsum.com/">Lorem ipsum text generator</a></h4>

							<div class="attachment-text">
								Description about the attachment can be placed here.
								Lorem Ipsum is simply dummy text of the printing and typesetting industry... <a href="#">more</a>
							</div>
							<!-- /.attachment-text -->
						</div>
						<!-- /.attachment-pushed -->
					</div>
					<!-- /.attachment-block -->

					<!-- Social sharing buttons -->
					<button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
					<button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
					<span class="pull-right text-muted">45 likes - 2 comments</span>
				</div>
				<!-- /.box-body -->
				<div class="box-body box-posts">
					<div class="box-post">
						<!-- User image -->
						<img class="img-circle img-sm" src="{{ asset(avatar(user)) }}" alt="User Image">

						<div class="post-text">
							<span class="username">
								Maria Gonzales
								<span class="text-muted pull-right">8:03 PM Today</span>
							</span><!-- /.username -->
							It is a long established fact that a reader will be distracted
							by the readable content of a page when looking at its layout.
						</div>
						<!-- /.comment-text -->
					</div>
					<!-- /.box-comment -->
					<div class="box-post">
						<!-- User image -->
						<img class="img-circle img-sm" src="{{ asset(avatar(user)) }}" alt="User Image">

						<div class="post-text">
							<span class="username">
								Nora Havisham
								<span class="text-muted pull-right">8:03 PM Today</span>
							</span><!-- /.username -->
							The point of using Lorem Ipsum is that it has a more-or-less
							normal distribution of letters, as opposed to using
							'Content here, content here', making it look like readable English.
						</div>
						<!-- /.comment-text -->
					</div>
					<!-- /.box-comment -->
				</div>
				<!-- /.box-footer -->
				<div class="box-footer">
					<form action="#" method="post">
						<img class="img-responsive img-circle img-sm" src="{{ asset(avatar(user)) }}" alt="Alt Text">
						<!-- .img-push is used to add margin to elements next to floating images -->
						<div class="img-push">
							<input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
						</div>
					</form>
				</div>
				<!-- /.box-footer -->
			</div>
		</div>
	</div>
{% endblock %}
