{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
	{{ 'Discussion' | trans([], 'pages') }}
{% endblock %}

{% block page_subtitle %}
	{{ 'Choose a discussion channel' | trans([], 'pages') }}
{% endblock %}

{% block page_content %}
	<div class="row">
		{% for channel in channels %}
		<div class="col-lg-4 col-md-6">
			<div class="small-box bg-{{ channel.color }}">
				<div class="inner">
					<h3>{{ channel.name }}</h3>
					{% if channel.enabled %}
					{% if channel.lastPostTime %}
					<p>{{ 'Activity: 0' | trans([ ago(channel.lastPostTime) ], 'discussion') }}</p>
					{% else %}
					<p>{{ 'No activity' | trans([], 'discussion') }}</p>
					{% endif %}
					{% else %}
					<p>{{ 'Archived discussion' | trans([], 'discussion') }}</p>
					{% endif %}
				</div>
				<div class="icon">
					<i class="fa {{ channel.icon }}"></i>
				</div>
				<a href="{{ spath('discussion_channel', {'id': channel.id} ) }}" class="small-box-footer">
					{{ 'Enter' | trans([], 'general') }} <i class="fa fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}


