{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
	{{ 'Discussion: 0' | trans([channel.name], 'pages') }}
{% endblock %}

{% block page_subtitle %}
	{{ 'View discussion' | trans([], 'pages') }}
{% endblock %}

{% block page_content %}

{% if canPost %}

{% else %}
<p class="text-muted">{{ 'ReadOnlyDiscussionText' | trans([], 'discussion') }}</p>
{% endif %}
<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<i class="fa fa-comment"></i>
				<h3 class="box-title">{{ 'ChannelDescriptionText' | trans([], 'discussion') }}</h3>
			</div>
			<div class="box-body">
				<p>{{ channel.description }}</p>
			</div>
			<div class="box-footer">
				{% if canPost %}
				<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#compose-modal">{{ 'WriteMessageButton' | trans([], 'discussion') }}</button>
				{% else %}
				<p class="text-muted">{{ 'ReadOnlyDiscussionText' | trans([], 'discussion') }}</p>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<ul class="timeline" id="discussion-timeline">
			{% for day in discussion %}
				<li class="time-label">
					<span class="bg-red">
						{{ format_time(TimeFormatter.FORMAT_DATE_LONG, day.time) }}
					</span>
				</li>
				{% for post in day.posts %}
				<li>
					<i class="fa fa-envelope bg-blue"></i>
					<div class="timeline-item">
						<span class="time"><i class="fa fa-clock-o"></i> {{ format_time(TimeFormatter.FORMAT_LONG, post.createdAt) }}</span>
						<h3 class="timeline-header"><img src="{{ asset(avatar(post, 32)) }}" alt="av" width="24" class="img-circle" /> <a href="{{ spath('memberlist_profile', {'id': post.userId }) }}">{{ post.userName }}</a></h3>

						<div class="timeline-body">
							{{ post.content | raw }}
						</div>

						<div class="timeline-footer">
						</div>
					</div>
				</li>
				{% endfor %}
			{% endfor %}
		</ul>
		<button class="btn btn-primary" style="width: 100%" id="discussion-more">{{ 'More' | trans([], 'general') }}</button>
	</div>
</div>
{% if canPost %}
<div class="modal fade" id="compose-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<form role="form" id="discussion-form" class="form">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ 'WriteMessageTitle' | trans([], 'discussion') }}</h4>
			</div>
			<div class="modal-body">
				<p class="text-small text-muted"><i class="fa fa-question"></i> {{ 'EditorFormattingHint' | trans([], 'discussion') }}</p>
				<hr/>
				
				<div class="form-group">
					<textarea id="discussion-content" class="form-control" style="width: 100%" rows="15"></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">{{ 'Send' | trans([], 'general') }}</button>
			</div>
			</form>
		</div>
	</div>
</div>
{% endif %}
{% endblock page_content %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/summernote.css') }}" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/summernote.min.js') }}"></script>
	<script src="{{ asset('js/lang/summernote-'~user.settingsLanguage.locale~'.js')}}"></script>
	<script src="{{ asset('js/discussion.js') }}"></script>
{% endblock %}

{% block javascripts_inline %}
	<script>
		$('#discussion-content').summernote({ lang: '{{ user.settingsLanguage.locale }}', airMode: true, placeholder: '{{ 'EditorStartTypingPlaceholder' | trans([], 'discussion') }}', popover: {
			air: [
				['link', ['link', 'unlink']],
				['font', ['bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript']], 
				['para', ['ul', 'ol', 'paragraph']], 
				['misc', ['clear', 'undo', 'redo']]
			]
		} });
		$(document).ready(function() {
			$(document).discussion({
				discussionMore: '#discussion-more',
				discussionBody: '#discussion-timeline',
				discussionForm: '#discussion-form',
				discussionModal: '#compose-modal',
				discussionFeedUrl: '{{ spath('discussion_api_feed', {'id': channel.id} ) }}',
				discussionPostUrl: '{{ spath('discussion_api_post', {'id': channel.id} ) }}',
				canPost: {{ canPost }},
				avatars: '{{ asset('ph') }}',
				lastPostTime: {{ lastPostTime }}
			});
		});
	</script>
{% endblock %}