<div class="col-lg-3 col-md-5 col-sm-12">
	<div class="col-lg-12">
		<div class="info-box">
			<span class="info-box-icon bg-green"><i class="fa fa-thumbs-o-up"></i></span>
			<div class="info-box-content">
				<span class="info-box-text">{{ 'OpenRegistrationsText' | trans([], 'dashboard') }}</span>
				<span class="info-box-number">{{ areaRegistrationNum }}</span>
				<span class="info-box-more"><a href="{{ path('user_area_request_create') }}">{{ 'Enter' | trans([], 'general') }}</a></span>
			</div>
          </div>
	</div>
	<div class="col-lg-12">
		<div class="info-box">
			<span class="info-box-icon bg-red"><i class="fa fa-handshake-o"></i></span>
			<div class="info-box-content">
				<span class="info-box-text">{{ 'AwaitingInvitationsText' | trans([], 'dashboard') }}</span>
				<span class="info-box-number">{{ invitationNum }}</span>
				<span class="info-box-more"><a href="{{ path('user_invitation_index') }}">{{ 'Enter' | trans([], 'general') }}</a></span>
			</div>
          </div>
	</div>
	<div class="col-lg-12">
		<div class="info-box">
			<span class="info-box-icon bg-orange"><i class="fa fa-flag-o"></i></span>
			<div class="info-box-content">
				<span class="info-box-text">{{ 'YourAreaRequestsText' | trans([], 'dashboard') }}</span>
				<span class="info-box-number">{{ areaRequestNum }}</span>
				<span class="info-box-more"><a href="{{ path('user_area_request_index') }}">{{ 'Enter' | trans([], 'general') }}</a></span>
			</div>
          </div>
	</div>
</div>
<div class="col-lg-9 col-md-7 col-sm-12">
	{% for memberEntity in memberEntities %}
	<div class="col-lg-4 col-md-12">
		{% if memberEntity.type == 'Project' %}
		<div class="small-box bg-blue">
		{% elseif memberEntity.type == 'Group' %}
		<div class="small-box bg-gray">	
		{% else %}
		<div class="small-box bg-purple">	
		{% endif%}
			<div class="inner">
				<h3>{{ memberEntity.name }}</h3>
				<p>{{ (memberEntity.type~'MembershipText') | trans([], 'dashboard') }}</p>
			</div>
			<div class="icon">
				{% if memberEntity.type == 'Project' %}
				<i class="fa fa-lightbulb-o"></i>
				{% elseif memberEntity.type == 'Group' %}
				<i class="fa fa-cubes"></i>
				{% else %}
				<i class="fa fa-cube"></i>
				{% endif%}
			</div>
			<a href="{{ path('place_dashboard', {'slug': memberEntity.slug} ) }}" class="small-box-footer">
				{{ ('Goto'~memberEntity.type~'Text') | trans([], 'dashboard') }} <i class="fa fa-arrow-circle-right"></i>
			</a>
          </div>
	</div>
	{% endfor %}
	{% for invitation in invitations %}
	<div class="col-lg-4 col-md-12">
		<div class="small-box bg-red">
			<div class="inner">
				<h3>{{ invitation.name }}</h3>
				<p>{{ (invitation.type~'InvitationText') | trans([], 'dashboard') }}</p>
			</div>
			<div class="icon">
				<i class="fa fa-handshake-o"></i>
			</div>
			<a href="{{ path('user_invitation_index') }}" class="small-box-footer">
				{{ 'GotoInvitationText' | trans([], 'dashboard') }} <i class="fa fa-arrow-circle-right"></i>
			</a>
          </div>
	</div>
	{% endfor %}
</div>
