<div class="col-lg-4 col-lg-offset-4 col-md-8 col-md-offset-2 col-sm-12">
	<div class="callout callout-warning">
		<h4>{{ 'NoActivityTitle' | trans([], 'dashboard') }}</h4>
		<p>{{ 'ThankYouJoiningText' | trans([], 'dashboard') }}</p>

		<p>{{ 'BindingInvitationNoteText' | trans([], 'dashboard') }}</p>
		<p><a href="{{ path('user_invitation_index') }}">{{ 'GotoInvitationsText' | trans([], 'dashboard') }}</a></p>
	</div>
</div>