{% extends 'CantigaCoreBundle:layout:list-layout.html.twig' %}

{% block content_before %}
	{% if text %}
		<p>{{text.content | raw }}</p>
	{% endif %}
{% endblock %}

{% block column_list %}
<tr>
	<th width="30">#</th>
	<th>{{ 'First name' | trans([], 'edk') }}</th>
	<th width="250">{{ 'Last name' | trans([], 'edk')  }}</th>
	<th width="250">{{ 'Route' | trans([], 'edk') }}</th>
	<th width="140">{{ 'Created at' | trans([], 'edk')  }}</th>
	<th width="80">{{ 'Age' | trans([], 'edk')  }}</th>
	<th width="80">{{ 'Sex' | trans([], 'edk')  }}</th>
	<th width="120">{{ 'Actions' | trans({}, 'general') }}</th>
</tr>
{% endblock %}

{% block box_footer %}
<p>
	<a href="{{ spath(insertPage) }}" class="btn btn-success btn-sm" role="button">{{ 'Add new participant' | trans({}, 'edk') }}</a>
	<a href="{{ spath(exportCsvPage) }}" class="btn btn-primary btn-sm" role="button">{{ 'Export all to CSV' | trans({}, 'edk') }}</a>
</p>
{% endblock %}

{% block custom_datatable_config %}
	aaSorting: [],
	ajax: "{{ spath(ajaxListPage) }}",
	columnDefs: [
		{{ dt_col_link(dataTable, 'routeName', 'route_link') }}
		{{ dt_col_rewrite(dataTable, 'sex', 'sexText') }}
		{{ dt_actions(dataTable, [
			{ 'link': 'info_link', 'name': 'Info' | trans({}, 'general'), 'label': 'btn-primary' },
			{ 'link': 'edit_link', 'name': 'Edit' | trans({}, 'general'), 'label': 'btn-warning' },
			{ 'link': 'remove_link', 'name': 'Remove' | trans({}, 'general'), 'label': 'btn-danger' }
		]) }}
	]
{% endblock %}
