{% extends 'CantigaCoreBundle:layout:common-layout.html.twig' %}

{% block page_title %}
	{{ 'Profile editor' | trans([], 'pages') }}
{% endblock %}

{% block page_subtitle %}
	{{ 'Edit the details of your area' | trans([], 'pages') }}
{% endblock %}

{% block box_body %}
	{{ form_start(form) }}
	<div class="row">
		<div class="col-md-3 col-xs-12">
			{{ form_row(form.name) }}
		</div>
		<div class="col-md-3 col-xs-12">
			{{ form_row(form.territory) }}
		</div>
	</div>
	{% include formRenderer.template with { 'formRenderer': formRenderer, 'form': form } only %}
	{{ form_end(form) }}
{% endblock %}