<div class="col-lg-6 col-md-12">
	<div class="box box-purple">
		<div class="box-header with-border">
			<i class="fa fa-clock-o"></i>
			<h3 class="box-title">{{ 'Incoming deadlines' | trans([], 'milestone') }}</h3>
		</div>
		<div class="box-body no-padding">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>{{ 'Milestone' | trans([], 'milestone') }}</th>
						<th>{{ 'Deadline' | trans([], 'milestone') }}</th>
						<th>{{ 'Progress' | trans([], 'milestone') }}</th>
					</tr>
				</thead>
				<tbody>
					{% for milestone in milestones %}
					<tr{% if not milestone.future %} class="active text-danger"{% endif %}>
						<td>{{ milestone.name }}</td>
						<td>{{ format_time(TimeFormatter.FORMAT_DATE_LONG, milestone.deadline) }}</td>
						<td>
							<div class="progress progress-xs">
								<div class="progress-bar progress-bar-{{ milestone.progressColor }}" style="width: {{ milestone.progress }}%"></div>
							</div>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="box-footer text-center">
			<a href="{{ spath(milestoneEditorPage) }}" class="btn btn-flat btn-xs btn-primary">{{ 'View all milestones and deadlines' | trans([], 'milestone') }}</a>
		</div>
	</div>
</div>
