{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
	{{ pageTitle | trans({}, 'pages') }}
{% endblock %}

{% block page_subtitle %}
	{{ pageSubtitle | trans({}, 'pages') }}
{% endblock %}

{% block page_content %}	
	<div class="row">
	{% for member in members %}
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="box box-widget widget-user-2">
            <div class="widget-user-header bg-primary">
				<div class="widget-user-image">
					<img class="img-circle" src="{{ asset(avatar(member)) }}" alt="av">
				</div>
				<h3 class="widget-user-username">{{ member.name }}</h3>
				<h5 class="widget-user-desc">{% if member.memberInfo.note %}{{ member.memberInfo.note }}{% else %}&nbsp;{% endif %}</h5>
            </div>
            <div class="box-footer no-padding">
				<ul class="list-summary">
					<li class="list-summary-item">{{ 'Role' | trans([], 'users' ) }} <span class="pull-right">{{ member.memberInfo.role.name | trans }}</span></li>
					<li class="list-summary-item">{{ 'Location' | trans([], 'users' ) }} <span class="pull-right">{{ member.location }}</span></li>
					<li class="list-summary-item">{{ 'Last visit' | trans([], 'users' ) }} <span class="pull-right">{{ ago(member.lastVisit) }}</span></li>
					<li class="list-summary-footer"><a href="{{ spath(profilePage, {'id': member.id }) }}">{{ 'See profile' | trans([], 'users' ) }}</a></li>
				</ul>
            </div>
		</div>
	</div>
	{% endfor %}
	</div>
{% endblock %}