{% extends 'CantigaCoreBundle:layout:common-layout.html.twig' %}

{% block page_title %}
	{{ 'Personal information' | trans({}, 'pages') }}
{% endblock %}

{% block page_subtitle %}
	{{'Your own profile' | trans({}, 'pages') }}
{% endblock %}

{% block content_before %}
{{ macro.hint_box('Your profile is visible only to the people who are members of the same projects or areas as you.' | trans) }}
{% endblock %}

{% block box_body %}
{{ form_start(form) }}
<div class="row">
	<div class="col-md-6">
		{{ form_row(form.location, { 'label_col': 4, 'widget_col': 8}) }}
	</div>
	<div class="col-md-6">
		<p class="text-muted">{{ 'Your location is visible to everyone who has access to your profile.' | trans }}</p>
	</div>
</div>
{{ form_end(form) }}
{% endblock %}