{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
	{{ 'Project membership' | trans({}, 'pages') }}
{% endblock %}

{% block page_subtitle %}
	{{ 'Manage members of active projects' | trans({}, 'pages') }}
{% endblock %}

{% block page_content %}
	<div class="row" id="ppp">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header with-border">
					<form role="form" class="form-horizontal">
						<div class="form-group">
							<label class="control-label required col-xs-4 col-md-2" for="projectSelector" class="">{{ 'Project' | trans }}</label>
							<div class="col-xs-8 col-md-4">
								<select id="projectSelector" name="project_name" required="required" class="form-control">
									{% for project in projects %}
									<option value="{{ project.id }}">{{project.name}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</form>
					<form role="form" class="form-horizontal" method="post" id="membership-form">
						<div class="form-group">
							<label class="control-label col-xs-4 col-md-2 required" for="member-name">{{ 'Add a member' | trans }}</label>
							<div class="col-xs-8 col-md-4">
								<input type="text" id="member-name" name="member_name" required="required" class="form-control" placeholder="{{ 'Start typing the member e-mail...' | trans }}" role="member-selector">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-4 col-md-2 required" for="role-selector">{{ 'Member role' | trans }}</label>
							<div class="col-xs-8 col-md-4">
								<select name="member_role" id="role-selector" role="role-selector" class="form-control">
								{% for role in roles %}
									<option value="{{ role.id }}">{{ role.name | trans }}</option>
								{% endfor %}
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-4 col-md-2 required" for="member-note">{{ 'Enter some note' | trans }}</label>
							<div class="col-xs-8 col-md-4">
								<input type="text" id="member-note" name="member_note" required="required" class="form-control" role="note-selector">
							</div>
						</div>
					</form>
				</div>
				<div class="box-body no-padding">
					<table class="table table-striped" id="membershipTable">
						<thead>
							<tr>
								<th width="30">#</th>
								<th>{{ 'Name' | trans }}</th>
								<th width="200">{{ 'Role' | trans }}</th>
								<th width="200">{{ 'Note' | trans }}</th>
								<th width="180">{{ 'Actions' | trans({}, 'general') }}</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="edit-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">{{ 'Set a new role' | trans }}: <span role="title"></span></h4>
				</div>
				<div class="modal-body">
					<form role="form" class="form">
						<div class="form-group">
							<label class="control-label required" for="role-selector-ed">{{ 'Select a new role' | trans }}</label>
							<select name="role" id="role-selector-ed" role="role-selector" class="form-control">
							{% for role in roles %}
								<option value="{{ role.id }}">{{ role.name | trans }}</option>
							{% endfor %}
							</select>
						</div>
						<div class="form-group">
							<label class="control-label required" for="note-selector-ed">{{ 'Enter some note' | trans }}</label>
							<input type="text" name="note" id="note-selector-ed" role="note-selector" class="form-control" />
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" id="edit-modal-cancel">{{ 'Cancel' | trans({}, 'general') }}</button>
					<button type="button" class="btn btn-primary" id="edit-modal-confirm">{{ 'Save' | trans({}, 'general') }}</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="remove-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">{{ 'Confirm removal' | trans }}: <span role="title"></span></h4>
				</div>
				<div class="modal-body">
					<p>{{ 'Do you really want to revoke the membership for this user?' | trans }}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" id="remove-modal-cancel">{{ 'Not really' | trans({}, 'general') }}</button>
					<button type="button" class="btn btn-primary" id="remove-modal-confirm">{{ 'Indeed' | trans({}, 'general') }}</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
	<script src="{{ asset('js/membership.js') }}"></script>
{% endblock %}

{% block javascripts_inline %}
	<script type="text/javascript">
	$(document).ready(function() {
		$('#ppp').membership({
			projectSelector: '#projectSelector',
			membershipForm: '#membership-form',
			dataTable: '#membershipTable',
			selectedProject: 1,
			removeModal: '#remove-modal',
			removeModalConfirm: '#remove-modal-confirm',
			editModal: '#edit-modal',
			editModalConfirm: '#edit-modal-confirm',
			memberHintUrl: '{{ path('admin_membership_ajax_hints') }}',
			memberReloadUrl: '{{ path('admin_membership_ajax_reload') }}',
			memberAddUrl: '{{ path('admin_membership_ajax_add') }}',
			memberEditUrl: '{{ path('admin_membership_ajax_edit') }}',
			memberRemoveUrl: '{{ path('admin_membership_ajax_remove') }}',
			lang: {
				remove: '{{ 'Remove' | trans({}, 'general') }}',
				role: '{{ 'Change role' | trans }}',
				Visitor: '{{ 'Visitor' | trans }}',
				Member: '{{ 'Member' | trans }}',
				Manager: '{{ 'Manager' | trans }}',
			}
		});
	});
	</script>
{% endblock %}
