{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
	{{ pageTitle | trans({}, 'pages') }}
{% endblock %}

{% block page_subtitle %}
	{{ pageSubtitle | trans({}, 'pages') }}
{% endblock %}

{% block page_content %}
	<div class="row" id="milestone-editor">
		<div class="col-lg-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<i class="fa fa-flag-checkered"></i>
					<h3 class="box-title">{{ 'Ranking' | trans([], 'milestone') }}</h3>
				</div>
				<div class="box-body">
					
					<div class="btn-group" role="group" aria-label="...">
						{% if showTypeSelector %}
						{% if type == 0 %}
						<a role="button" class="btn btn-primary active" href="{{ spath(viewPage, {'type': 0}) }}">{{ 'View areas' | trans([], 'milestone') }}</a>
						<a role="button" class="btn btn-primary" href="{{ spath(viewPage, {'type': 1}) }}">{{ 'View groups' | trans([], 'milestone') }}</a>
						<a role="button" class="btn btn-success" href="{{ spath(individualPage) }}">{{ 'Overall summary' | trans([], 'milestone') }}</a>
						{% elseif type == 1 %}
						<a role="button" class="btn btn-primary" href="{{ spath(viewPage, {'type': 0}) }}">{{ 'View areas' | trans([], 'milestone') }}</a>
						<a role="button" class="btn btn-primary active" href="{{ spath(viewPage, {'type': 1}) }}">{{ 'View groups' | trans([], 'milestone') }}</a>
						<a role="button" class="btn btn-success" href="{{ spath(individualPage) }}">{{ 'Overall summary' | trans([], 'milestone') }}</a>
						{% elseif type == 2 %}
						<a role="button" class="btn btn-primary" href="{{ spath(viewPage, {'type': 0}) }}">{{ 'View areas' | trans([], 'milestone') }}</a>
						<a role="button" class="btn btn-primary" href="{{ spath(viewPage, {'type': 1}) }}">{{ 'View groups' | trans([], 'milestone') }}</a>
						<a role="button" class="btn btn-success active" href="{{ spath(individualPage) }}">{{ 'Overall summary' | trans([], 'milestone') }}</a>
						{% endif %}
						{% else %}
						{% if type == 0 %}
						<a role="button" class="btn btn-primary active" href="{{ spath(viewPage) }}">{{ 'Ranking' | trans([], 'milestone') }}</a>
						<a role="button" class="btn btn-success" href="{{ spath(individualPage) }}">{{ 'Overall summary' | trans([], 'milestone') }}</a>
						{% else %}
						<a role="button" class="btn btn-primary" href="{{ spath(viewPage) }}">{{ 'Ranking' | trans([], 'milestone') }}</a>
						<a role="button" class="btn btn-success active" href="{{ spath(individualPage) }}">{{ 'Overall summary' | trans([], 'milestone') }}</a>
						{% endif %}
						{% endif %}
					</div>
					<hr>
								
					<table class="table table-hover">
						<thead>
							<tr>
								<th width="40">#</th>
								<th>{{ 'Place' | trans([], 'milestone') }}</th>
								<th width="200">{{ 'Progress' | trans([], 'milestone') }}</th>
								<th width="40"></th>
								<th width="200" class="text-center">{{ 'Completed milestones' | trans([], 'milestone') }}</th>
							</tr>
						</thead>
						<tbody>
							{% for item in items %}
							<tr>
								<td><a href="{{ spath(editPage, {'i': item.placeId })}}"><span class="fa fa-pencil"></span></a></td>
								<td><a href="{{ spath(areaInfoPage, { 'id': item.id }) }}">{{ item.name }}</a></td>
								<td><div class="progress progress-xs"><div class="progress-bar progress-bar-{{ item.progressColor }}" style="width: {{item.progress}}%"></div></div></td>
								<td><span class="badge bg-{{item.badgeColor}}">{{item.progress}}%</span></td>
								<td class="text-center">{{item.completedNum}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock page_content %}
