{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
	{{ place.name }}
{% endblock %}

{% block page_subtitle %}
	{{ (place.typeName~'TypeSubtitle') | trans({}, 'pages') }}
{% endblock %}

{% block page_content %}
	<div class="row">
		{% if place.place.archived %}
		<div class="col-lg-12">
			<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<h4><i class="icon fa fa-warning"></i> {{ 'Warning' | trans([], 'general') }}</h4>
				{% if place.place.isRoot() %}
					{{ 'ProjectAlreadyCompletedWarning' | trans }}
					
				{% else %}
					{{ 'PlaceProjectAlreadyCompletedWarning' | trans }}
				{% endif %}
			</div>
		</div>
		{% endif %}
		<div class="col-md-12">
			<div class="row">
			{{ topExtensions | raw }}
			</div>
		</div>
		<div class="col-md-8 col-sm-12">
			<div class="row">
			{{ centralExtensions | raw }}
			</div>
		</div>
		<div class="col-md-4 col-sm-12">
			<div class="row">
			{{ rightExtensions | raw }}
			</div>
		</div>
	</div>
{% endblock %}
