{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
	{{ 'Projects' | trans([], 'pages') }}
{% endblock %}

{% block page_subtitle %}
	{{ 'Manage your active projects' | trans([], 'pages') }}
{% endblock %}

{% block page_content %}
<div class="row">
	<div class="col-xs-12">
		<div class="box box-danger">
			<div class="box-header with-border">
				<i class="fa fa-lightbulb-o"></i>
				<h3 class="box-title">{{ 'Details: 0' | trans([item.name], 'general') }}</h3>
			</div>
			<div class="box-body no-padding">
				<table class="table table-hover">
					<tbody>
						<tr>
							<td width="30%">{{ 'Name' | trans }}</td>
							<td>{{ item.name }}</td>
						</tr>
						<tr>
							<td width="30%">{{ 'Description' | trans }}</td>
							<td>{{ item.description }}</td>
						</tr>
						<tr>
							<td width="30%">{{ 'Created at' | trans }}</td>
							<td>{{ format_time(TimeFormatter.FORMAT_DATE_LONG, item.createdAt) }} ({{ ago(item.createdAt) }})</td>
						</tr>
						{% if item.parentProject %}
							<tr>
								<td width="30%">{{ 'Parent project' | trans }}</td>
								<td>{{ item.parentProject.name }}</td>
							</tr>
						{% endif %}
						<tr>
							<td width="30%">{{ 'Modules' | trans }}</td>
							<td><ul>{% for module in item.modules %}
									<li>{{ module_name(module) }}</li>
									{% endfor %}</ul>
								</td>
							</tr>
							<tr>
								<td width="30%">{{ 'Areas allowed?' | trans }}</td>
								<td>{{ boolean_mark(item.areasAllowed) }}</td>
							</tr>
							<tr>
								<td width="30%">{{ 'Area registration allowed?' | trans }}</td>
								<td>{{ boolean_mark(item.areaRegistrationAllowed) }}</td>
							</tr>
						</tbody>
					</table>
			</div>
			<div class="box-footer">
				<a href="{{ path('admin_project_index') }}" class="btn btn-default btn-sm" role="button">{{ 'Back' | trans({}, 'general') }}</a>
				<a href="{{ path('admin_project_edit', {'id': item.id }) }}" class="btn btn-warning btn-sm" role="button">{{ 'Edit' | trans({}, 'general') }}</a>
				<a href="{{ path('admin_membership_index', {'id': item.id }) }}" class="btn btn-danger btn-sm" role="button">{{ 'Members' | trans({}, 'general') }}</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
