{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
	{{ project.name }}
{% endblock %}

{% block page_subtitle %}
	{{ 'Manage members of this project' | trans({}, 'pages') }}
{% endblock %}

{% block page_content %}
<div class="row">
	<div class="col-md-6 col-xs-12">
		<h3>{{ 'Invite to project' | trans }}</h3>
		<div class="box">
			<div class="box-header">
				<p>{{ 'ProjectInvitationNoteText' | trans }}</p>
			</div>
			<div class="box-body">
				{{ form_start(form) }}
				{{ form_row(form.email) }}
				{{ form_row(form.role) }}
				{{ form_row(form.note) }}
				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>
{% endblock %}