{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
	{{ 'Courses' | trans([], 'pages') }}
{% endblock %}

{% block page_subtitle %}
	{{ 'Manage the on-line courses for areas' | trans([], 'pages') }}
{% endblock %}

{% block page_content %}
<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
			{{ form_start(form) }}
			<div class="box-header with-border">
				<i class="fa fa-graduation-cap"></i>
				<h3 class="box-title">{{ 'Edit: 0' | trans([item.name], 'general') }}</h3>
			</div>
			<div class="box-body">
				<fieldset>
					<legend>{{ 'Course information' | trans }}</legend>
					<div class="row">
						<div class="col-md-12 col-xs-12">
							{{ form_row(form.name) }}
						</div>
						<div class="col-md-12 col-xs-12">
							{{ form_row(form.description) }}
						</div>
						<div class="col-md-6 col-xs-12">
							{{ form_row(form.authorName) }}
						</div>
						<div class="col-md-6 col-xs-12">
							{{ form_row(form.authorEmail) }}
						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>{{ 'Course properties' | trans }}</legend>
					<div class="row">
						<div class="col-md-6 col-xs-12">
							{{ form_row(form.presentationLink) }}
							{{ form_row(form.deadline) }}
							{{ form_row(form.displayOrder) }}
							{{ form_row(form.isPublished) }}
						</div>
						<div class="col-md-6 col-xs-12">
							{{ form_row(form.notes) }}
						</div>
					</div>
				</fieldset>
			</div>
			<div class="box-footer">
				{{ form_widget(form.save) }}
			</div>
			{{ form_end(form) }}
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts_inline %}
{{ use_icheck() }}
{% endblock %}