{% extends 'CantigaCoreBundle:layout:list-layout.html.twig' %}

{% block column_list %}
<tr>
	<th width="30">#</th>
	<th>{{ 'Name' | trans }}</th>
	<th width="140">{{ 'Last updated' | trans }}</th>
	<th width="120">{{ 'Is published?' | trans }}</th>
	<th width="120">{{ 'Deadline' | trans }}</th>
	<th width="120">{{ 'Display order' | trans }}</th>
	<th width="120">{{ 'Actions' | trans({}, 'general') }}</th>
</tr>
{% endblock %}

{% block box_footer %}
	<a href="{{ spath(insertPage) }}" class="btn btn-success btn-sm" role="button">{{ 'Insert' | trans({}, 'general') }}</a>
	{% if importer.isImportAvailable() %}
	<a href="{{ spath('project_course_import') }}" class="btn btn-danger btn-sm" role="button">{{ importer.getImportLabel() }}</a>
	{% endif %}
{% endblock %}

{% block custom_datatable_config %}
	ajax: "{{ spath(ajaxListPage) }}",
	columnDefs: [
		{{ dt_col_rewrite(dataTable, 'lastUpdated', 'lastUpdatedAgo') }}
		{{ dt_col_rewrite(dataTable, 'deadline', 'deadlineDate') }}
		{{ dt_col_boolean(dataTable, 'isPublished') }}
		{{ dt_actions(dataTable, [
			{ 'link': 'info_link', 'name': 'Info' | trans({}, 'general'), 'label': 'btn-primary' },
			{ 'link': 'edit_link', 'name': 'Edit' | trans({}, 'general'), 'label': 'btn-warning' },
			{ 'link': 'remove_link', 'name': 'Remove' | trans({}, 'general'), 'label': 'btn-danger' },
		]) }}
	]
{% endblock %}