{% extends 'CantigaCoreBundle:layout:common-layout.html.twig' %}

{% block page_title %}
	{{ 'Courses' | trans([], 'pages') }}
{% endblock %}

{% block page_subtitle %}
	{{ 'Manage the on-line courses for areas' | trans([], 'pages') }}
{% endblock %}

{% block page_content %}
<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
			{{ form_start(form) }}
			<div class="box-header with-border">
				<i class="fa fa-graduation-cap"></i>
				<h3 class="box-title">{{ 'Upload test: 0' | trans([item.name], 'pages') }}</h3>
			</div>
			<div class="box-body">
				<p>{{ 'ExampleTestFileText' | trans }}</p>

				<pre>
&lt;?xml version="1.0"?&gt;
&lt;test question-number="10"&gt;
	&lt;question content="Is this a correct answer?"&gt;
		&lt;answer correct="yes"&gt;Yes&lt;/answer&gt;
		&lt;answer correct="yes"&gt;Definitely&lt;/answer&gt;
		&lt;answer&gt;No&lt;/answer&gt;
		&lt;answer&gt;Not at all&lt;/answer&gt;
	&lt;/question&gt;
	&lt;question content="How many is 2+2?"&gt;
		&lt;answer correct="yes"&gt;4&lt;/answer&gt;
		&lt;answer&gt;5&lt;/answer&gt;
		&lt;answer&gt;3&lt;/answer&gt;
		&lt;answer&gt;7&lt;/answer&gt;
	&lt;/question&gt;
&lt;/test&gt;</pre>
				{{ form_row(form.file) }}
			</div>
			<div class="box-footer">
				{{ form_widget(form.save) }}
			</div>
			{{ form_end(form) }}
		</div>
	</div>
</div>
{% endblock %}
