{% extends 'WioEdkBundle:Public:layout.html.twig' %}

{% block title %}{{ 'Check registration' | trans([], 'public') }} - {{ 'Extreme Way of the Cross' | trans([], 'public') }}{% endblock %}

{% block page_content %}
<div>
	<h2>{{ 'Your registration' | trans([], 'public') }}</h2>
	
	<table class="table table-hover">
		<tr>
			<td width="30%">{{ 'First name' | trans([], 'public') }}</td>
			<td width="70%">{{ item.firstName }}</td>
		</tr>
		<tr>
			<td width="30%">{{ 'Last name' | trans([], 'public') }}</td>
			<td width="70%">{{ item.lastName }}</td>
		</tr>
		<tr>
			<td width="30%">{{ 'E-mail' | trans([], 'public') }}</td>
			<td width="70%"><a href="mailto:{{ item.email }}">{{ item.email }}</a></td>
		</tr>
		<tr>
			<td width="30%">{{ 'Route' | trans([], 'public') }}</td>
			<td width="70%"><a href="http://www.edk.org.pl/trasa-edk/{{ item.registrationSettings.route.id }}.html">{{ item.registrationSettings.route.name }}</a></td>
		</tr>
		<tr>
			<td width="30%">{{ 'Area' | trans([], 'public') }}</td>
			<td width="70%">{{ item.registrationSettings.route.area.name }}</td>
		</tr>
		<tr>
			<td width="30%">{{ 'Registration date' | trans([], 'public') }}</td>
			<td width="70%">{{ format_time(TimeFormatter.FORMAT_LONG, item.createdAt) }} ({{ ago(item.createdAt) }})</td>
		</tr>
		<tr>
			<td width="30%">{{ 'Extreme Way date' | trans([], 'public') }}</td>
			<td width="70%">{{ format_date(item.registrationSettings.route.area.get('ewcDate')) }}</td>
		</tr>
	</table>
		
	<h3>{{ 'EwcBeginningNote' | trans([], 'edk') }}</h3>
	
	{% if beginningNote %}
	{{ beginningNote | raw }}
	{% else %}
	<p class="text-muted">{{ 'BeginningInformationNotPublishedYet' | trans([], 'public') }}</p>
	{% endif %}
	
	<div class="col-md-6 col-md-offset-3 main">
		<h3>{{ 'Files to download:' | trans([], 'public') }}</h3>
		<ul class="route-map list-inline text-center list-unstyled">
			{% if showGuide %}
			<li class="desc-file"><a href="{{ path('public_edk_download_description', { 'slug': item.registrationSettings.route.publicAccessSlug} ) }}">{{ 'Route guide PDF' | trans([], 'public') }}</a></li>
			{% endif %}
			{% if showMap %}
			<li class="map-file"><a href="{{ path('public_edk_download_map', { 'slug': item.registrationSettings.route.publicAccessSlug} ) }}">{{ 'Map PDF' | trans([], 'public') }}</a></li>
			{% endif %}
			<li class="gps-file"><a href="{{ path('public_edk_download_gps', { 'slug': item.registrationSettings.route.publicAccessSlug} ) }}">{{ 'KML Track' | trans([], 'public') }}</a></li>
		</ul>
		
		{% if not showGuide %}
			<p class="center">{{'AreaNotPublishedGuideText' | trans([], 'public') }}</p>
		{% else %}
			<p class="center">{{'GuidesAreVerifiedText' | trans([], 'public') }}</p>
		{% endif %}
	</div>
</div>
{% endblock %}