{% extends 'WioEdkBundle:Public:layout.html.twig' %}

{% block page_content %}
	<div class="col-lg-6 col-lg-offset-3">
		<h2>{{ 'Thank you!' | trans([], 'public') }}</h2>
		<p>{{ 'RegistrationSuccessfulText' | trans([], 'public') }}</p>
		<p>{{ 'AccessKeyInformation' | trans([], 'public') }}</p>
		
		<div class="panel panel-default">
			<div class="panel-body">
				{{ 'Your access code' | trans([], 'public') }}: <strong>{{ accessKey }}</strong>
			</div>
		</div>
		
		<hr>
		
		<p>{{ 'UnregisterNotificationText' | trans([], 'public') }}</p>
	</div>
{% endblock %}
