			<div class="col-lg-2 col-md-4 col-xs-6">
				<div class="small-box bg-green">
					<div class="inner">
						<h3>{{ data.userNum }}</h3>

						<p>{{ 'Users' | trans }}</p>
					</div>
					<div class="icon">
						<i class="fa fa-users"></i>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-xs-6">
				<div class="small-box bg-red">
					<div class="inner">
						<h3>{{ data.userRegistrationNum }}</h3>

						<p>{{ 'User registrations' | trans }}</p>
					</div>
					<div class="icon">
						<i class="fa fa-ticket"></i>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-xs-6">
				<div class="small-box bg-orange">
					<div class="inner">
						<h3>{{ data.invitationNum }}</h3>

						<p>{{ 'Invitations' | trans }}</p>
					</div>
					<div class="icon">
						<i class="fa fa-handshake-o"></i>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-xs-6">
				<div class="small-box bg-blue">
					<div class="inner">
						<h3>{{ data.projectNum }}</h3>

						<p>{{ 'Projects' | trans }}</p>
					</div>
					<div class="icon">
						<i class="fa fa-lightbulb-o"></i>
					</div>
				</div>
			</div>
