{% extends 'CantigaCoreBundle:layout:list-layout.html.twig' %}

{% block column_list %}
<tr>
	<th width="30">#</th>
	{% if not isArea %}
	<th width="140">{{ 'Area' | trans([], 'edk') }}</th>
	{% endif %}
	<th>{{ 'Name' | trans([], 'edk') }}</th>
	<th width="140">{{ 'Beginning' | trans([], 'edk') }}</th>
	<th width="140">{{ 'Ending' | trans([], 'edk')  }}</th>
	<th width="140">{{ 'Length' | trans([], 'edk')  }}</th>
	
	<th width="120">{{ 'Updated at' | trans([], 'edk')  }}</th>
	<th width="80">{{ 'Approved' | trans([], 'edk')  }}</th>
	<th width="80">{{ 'Comments' | trans([], 'edk')  }}</th>
	<th width="120">{{ 'Actions' | trans({}, 'general') }}</th>
</tr>
{% endblock %}

{% block box_footer %}
	<a href="{{ spath(insertPage) }}" class="btn btn-success btn-sm" role="button">{{ 'Insert' | trans({}, 'general') }}</a>
	{% if importer.isImportAvailable() and is_granted('MEMBEROF_AREA') %}
	<a href="{{ spath('edk_route_import') }}" class="btn btn-danger btn-sm" role="button">{{ importer.getImportLabel() }}</a>
	{% endif %}
{% endblock %}

{% block custom_datatable_config %}
	ajax: "{{ spath(ajaxListPage) }}",
	columnDefs: [
		{{ dt_col_rewrite(dataTable, 'updatedAt', 'updatedAtText') }}
		{{ dt_col_boolean(dataTable, 'approved') }}
		{{ dt_actions(dataTable, [
			{ 'link': 'info_link', 'name': 'Info' | trans({}, 'general'), 'label': 'btn-primary' },
			{ 'link': 'edit_link', 'name': 'Edit' | trans({}, 'general'), 'label': 'btn-warning' },
			{ 'link': 'remove_link', 'name': 'Remove' | trans({}, 'general'), 'label': 'btn-danger', 'when': 'removable' },
		]) }}
	]
{% endblock %}