{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
	{{ project.name }}
{% endblock %}

{% block page_subtitle %}
	{{ 'Project page' | trans({}, 'pages') }}
{% endblock %}

{% block page_content %}
	<div class="row">
		{{ topExtensions | raw }}
		<div class="col-md-8">
			{{ centralExtensions | raw }}
		</div>
		<div class="col-md-4">
			{{ rightExtensions | raw }}
		</div>
	</div>
{% endblock %}