<div class="col-lg-12">
	<div class="box box-primary">
		<div class="box-header with-border">
			<i class="fa fa-comment"></i>
			<h3 class="box-title">{{ 'Recent chat activity in requests' | trans }}</h3>
		</div>
		<div class="box-body no-padding">
		<table class="table table-hover">
			<tbody>
				{% for comment in comments %}
				<tr>
					<td width="20%"><img src="{{ asset(avatar(comment, 32)) }}" class="img-circle" width="24" /> {{ comment.username }}</td>
					<td width="15%"><a href="{{ spath('project_area_request_info', {'id': comment.requestId} ) }}">{{ comment.requestName }}</a></td>
					<td>{{ comment.truncatedContent }}</td>
					<td width="150">{{ ago(comment.createdAt) }}</td>
				</tr>
				{% endfor %}
			</tbody>	
		</table>
		</div>
	</div>
</div>
